*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    font-size: medium;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    border-bottom: 1px solid #c4c4c4;
    font-size: 1rem;
}

.navbar-left-section{
    width: 10%;
}

.navbar-left-section img{
    width: 100%;
}

.menu {
    display: flex;
}
.navbar-right-section{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.navbar-right-section div {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.hamburger {
    display: none;
    width: 10%;
}

.hamburger span {
    max-width: 25px;
    min-width: 18px;
    height: 3px;
    background-color: black;
    margin: 5px;
    display: block;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 765px){
    .menu{
        display: none;
        width: 100%;
    }
    .hamburger {
        display: block;
    }

    .menu-toggle:checked ~ .hamburger span:nth-child(1){
        transform: rotate(45deg)translate(5px, 5px);
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(2){
        opacity: 0;
    }
    .menu-toggle:checked ~ .hamburger span:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .menu-toggle:checked ~ .menu{
        display: flex;
    }

    .navbar-right-section {
        flex-direction: column;
        width: 100%;
    }
}

.hero-container{
    display: flex;
    width: 100%;
    padding: 20px;
}

.hero-left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-left-section img {
    width: 100%;
}

.hero-right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right-section video {
    width: 80%;
}

.hero-left-section h1 {
    font-size: 3rem;
    color: #007bff;
} 

.hero-left-section h3 {
    font-weight: 400;
    color: #007bff;
}

.hero-left-section button {
    width: fit-content;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.section-one {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one h1 {
    font-size: 45px;
    font-weight: 400;
    margin: 10px;
}

.section-one .section-one-heading {
    background: linear-gradient(to right, #04cf04, #0000ff);
    color: transparent;
    -webkit-background-clip: text;
}

.section-one-description {
    overflow-y: scroll;
    height: 100px;
    scrollbar-width: none;
}
.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    gap: 30px;
}

.sec-two-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sec-two-left video {
    width: 100%;
}
.section-two-right{
    width: 50%;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.section-two-right img {
    width: 10%;
}

.section-two-right h1 {
    font-size: 3rem;
    font-weight: 400;
}

.section-two-right p {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #666666;
}

.flex-end {
    align-items: flex-start;
    text-align: start;
}

.bg-gray{
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #666666;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.blog-section {
    padding: 40px;
}

.blog-section h1 {
    text-align: center;
    margin-bottom: 25px;
}

.blog-section h1 span {
    color: #0000ff;
}

.blog-section > p {
    margin-bottom: 25px;
    color: #666666;
    font-size: 1.2rem;
}

@media screen and (max-width: 765px) {
    .hero-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .hero-left-section {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
    }
    .hero-right-section {
        width: 100%;
    }
    .section-two {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-two-left {
        width: 100%;
    }
    .section-two-right{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .card {
        width: 100%;
    }
    html, body {
        font-size: smaller;
    }
    .section-two p {
        text-align: center;
    }
}

footer {
    background-color: #181818;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
}
.upper-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upper-footer-section h1 {
    color: #fff;
    font-size: 3.5rem;
}

.upper-footer-section .style-div {
    color: #fff;
    background-color: #000;
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
}

.upper-footer-section h2 {
    color: #0000ff;
    font-size: 2rem;
}

.upper-footer-section p {
    color: #c4c4c4;
}

.upper-footer-section .icon-container {
    font-size: 2rem;
    color: #c4c4c4;
}

.middle-footer-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.middle-footer-section div {
    color: #0000ff;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.middle-footer-section ul{
    color: #c4c4c4;
    font-size: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.middle-footer-section li {
    margin: 5px 0;
}
.middle-footer-section li:hover {
    color: #fff;
}

.lower-footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
}

.lower-footer-section img {
    width: 50%;
}

@media screen and (max-width:765px) {
    .middle-footer-section {
        flex-direction: column;
    }
    .lower-footer-section img {
        width: 80%;
    }
}